@using Microsoft.AspNetCore.Components.Forms
@using StudyMate.Shared.User.Models
@using StudyMate.Client.AppShell
@using StudyMate.Client.User.Services
@inject NavigationManager Nav
@inject AppState State
@inject IUserApi Api

<h3>Login</h3>
<EditForm Model="@LoginData" OnValidSubmit="@(async e => await DoLogin())">
	<div class="form-group">
		<label for="username">Username:</label>
		<InputText class="form-control" id="username" autocomplete="true" autofocus="" placeholder="Username"
		           @bind-Value="@LoginData.Username"/>

        <div class="text-danger">@UsernameError</div>
	</div>
	<div class="form-group">
		<label for="password">Password:</label>

		<InputText class="form-control" id="password"
            type="@(ShowPassword?"text":"password")" autocomplete="false" placeholder="Password"
		    @bind-Value="@LoginData.Password"/>

        <div class="text-danger">@PasswordError</div>

        <div>
            <InputCheckbox id="show" @bind-Value="ShowPassword"/>
            <label for="show">Show password</label>
        </div>
	</div>
	<div class="form-group" style="margin-top: 1.5em">
	    <button disabled=@LoginButtonDisabled type="submit" class="my-btn-primary">Login</button>

		<InputCheckbox id="stay" style="margin-left: 0.5em" @bind-Value="LoginPermanently"/>
        <label for="stay">Stay logged in</label>
	</div>
	<div class="text-danger">@Error</div>
</EditForm>

@code {

    [Parameter]
    public Action? OnLoggedIn { get; set; }

    protected override void OnInitialized()
    {
        if (State.CurrentUser is not null)
        {
            Nav.NavigateTo("/");
        }
    }

    private LoginRequest LoginData { get; set; } = new();
    private bool LoginPermanently { get; set; }

    private bool ShowPassword { get; set; }
    private bool LoginButtonDisabled { get; set; } = false;

    private string Error { get; set; } = "";
    private string UsernameError { get; set; } = "";
    private string PasswordError { get; set; } = "";

    private async Task DoLogin()
    {
        LoginButtonDisabled = true;

        //reset error indicators
        Error = "";
        UsernameError = "";
        PasswordError = "";


        try
        {
            var result = await Api.Login(LoginData);
            if (result.Success)
            {
                await State.SetLoggedIn(result.UserData!, result.Token!.Value, LoginPermanently);
                OnLoggedIn?.Invoke();
            }
            else
            {
                switch (result.ErrorField)
                {
                    case nameof(LoginData.Username):
                        UsernameError = result.ErrorMessage!;
                        break;
                    case nameof(LoginData.Password):
                        PasswordError = result.ErrorMessage!;
                        break;
                    default:
                        Error = result.ErrorMessage!;
                        break;
                }
            }
        }
        catch (Exception exc)
        {
            Error = exc.Message;
        }

        LoginButtonDisabled = false;
    }
}