@using StudyMate.Client.AppShell
@using StudyMate.Client.User.Services
@inject AppState State
@inject IUserApi Api
@inject NavigationManager Nav

<button @onclick="DoLogout"><span class="oi oi-account-logout" style="font-size:0.8rem; transform: translateY(-0.1rem)"></span> Logout</button>

@code {

	private async Task DoLogout()
	{
		await Api.Logout();
		await State.SetLoggedOut();
        Nav.NavigateTo("/");
	}
}
