@using Microsoft.AspNetCore.Components.Forms
@using StudyMate.Client.AppShell
@using StudyMate.Client.User.Services
@using StudyMate.Shared.User.Models
@inject AppState State
@inject IUserApi Api

<h3>Registration</h3>
<EditForm Model="@RegistrationData" OnValidSubmit="@(async e => await Register())">
	<DataAnnotationsValidator/>

	<div class="form-group">
		<label for="username">Username:</label>

		<InputText class="form-control" id="username" autocomplete="true" autofocus="" placeholder="Username"
            @bind-Value="@RegistrationData.Username"/>

		<div>
			<ValidationMessage TValue="string" For="() => RegistrationData.Username"/>
		</div>

        <div class="text-danger">@UsernameError</div>
	</div>

	<div class="form-group">
		<label for="password">Password:</label>

		<InputText class="form-control" id="password"
            type="@(ShowPassword?"text":"password")" autocomplete="false" placeholder="Password"
            @bind-Value="@RegistrationData.Password"/>

		<div>
			<ValidationMessage TValue="string" For="() => RegistrationData.Password"/>
		</div>

        <div>
            <InputCheckbox id="show" @bind-Value="ShowPassword"/>
            <label for="show">Show password</label>
        </div>
	</div>

    <div class="form-group" style="margin-top: 1.5em">
	    <button disabled=@RegisterButtonDisabled type="submit" class="my-btn-primary">Register</button>

	    <InputCheckbox id="stay" style="margin-left: 0.5em" @bind-Value="RegistrationData.AutoLogin"/>
        <label for="stay">Automatically log in on successful registration?</label>

	    <div class="text-danger">@Error</div>
    </div>
</EditForm>

@code {
    private RegistrationRequest RegistrationData { get; set; } = new();

    private bool ShowPassword { get; set; }
    private bool RegisterButtonDisabled { get; set; } = false;

    private string Error { get; set; } = "";
    private string UsernameError { get; set; } = "";


    [Parameter]
    public Action? OnRegistered { get; set; }

    [Parameter]
    public Action? OnLoggedIn { get; set; }

    private async Task Register()
    {
        RegisterButtonDisabled = true;

        //reset error indicators
        Error = "";
        UsernameError = "";

        try
        {
            var result = await Api.Register(RegistrationData);
            if (result.Success)
            {
                if (result.Token.HasValue)
                {
                    await State.SetLoggedIn(result.UserData!, result.Token.Value, true);
                    OnLoggedIn?.Invoke();
                }
                else
                {
                    OnRegistered?.Invoke();
                }
            }
            else
            {
                switch (result.ErrorField)
                {
                    case nameof(RegistrationData.Username):
                        UsernameError = result.ErrorMessage!;
                        break;
                    default:
                        Error = result.ErrorMessage!;
                        break;
                }
            }
        }
        catch (Exception exc)
        {
            Error = exc.Message;
        }

        RegisterButtonDisabled = false;
    }

}