.chat-widget {
	color: white;
	display: contents;
	min-height: 40px;
}

.chat-message-window {
	background-color: #fffffc;
	overflow-y: scroll;
	height: 300px;
	max-height: 500px;
}

.chat-message {
	color: rgb(43, 43, 43);
}

@media (max-width: 641px) {
    .chat-widget {
        display: none;
    }
}
