@using StudyMate.Shared.Models
@using StudyMate.Client.Group.Services
@inject GroupClient Client

<div class="chat-widget">
	<h6>Chat</h6>
	<div class="chat-message-window">
		@foreach (var currentMessage in messages.Reverse<ChatMessage>())
		{
			<div class="chat-message">@($"{currentMessage.Sender}:{Environment.NewLine}{currentMessage.Content}")</div>
		}
	</div>
	<EditForm Model="message" OnSubmit="SendMessage">
		<InputText type="text" class="w-100" @bind-Value="message.Content" />
	</EditForm>
</div>

@code {
	private ChatMessage message = ChatMessage.New;

	private async Task SendMessage()
	{
		if (string.IsNullOrWhiteSpace(message.Content)) return;

		Console.WriteLine("Send message " + message.Content);
		var t = Client.SendMessage(message);
		message = ChatMessage.New;
		await t;
		Console.WriteLine("Sending finished.");
	}

	protected override void OnInitialized()
	{
		Client.OnMessage += MessageReceived;
	}

	public void Dispose()
	{
		Client.OnMessage -= MessageReceived;
	}

	private readonly List<ChatMessage> messages = new List<ChatMessage>();
	private void MessageReceived(ChatMessage msg)
	{
		Console.WriteLine($"Chat received message: {msg}");
		messages.Add(msg);
		StateHasChanged();
	}
}