@using Microsoft.AspNetCore.Components.Forms
@using StudyMate.Shared.Group.Models
@using StudyMate.Shared.Models
@using StudyMate.Shared.Group.Services
@using StudyMate.Client.Tags.Services
@inject ITagApi TagApi
@inject IGroupHub GroupApi

<div class="modal" tabindex="-1" role="dialog" style="display:block; background-color: rgba(10,10,10,.8);"
	id="taskModal">
	<div class="modal-dialog shadow-lg bg-white rounded" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Create a new group</h5>
				<button type="button" class="btn-close" aria-label="Close" @onclick="ModalCancel"></button>
			</div>
			<div class="modal-body">
				<EditForm Model="NewGroup" OnValidSubmit="CreateGroup">

					<DataAnnotationsValidator />

					<!-- Name -->
					<div class="form-group">
						<label for="name">Name</label>
						<InputText class="form-control" id="name" @bind-Value="NewGroup.Name" autofocus="" />
						<div>
							<ValidationMessage TValue="string" For="() => NewGroup.Name" />
						</div>
					</div>

					<!-- Capacity -->
					<div class="form-group">
						<label for="capacity">Capacity</label>
						<InputNumber class="form-control" id="capacity" min=1 max=50 @bind-Value="NewGroup.Capacity"
							autofocus="" aria-describedby="capacityHelperBlock" />
						<small id="capacityHelperBlock" class="form-text text-muted">
							The size of your group
						</small>
						<div>
							<ValidationMessage TValue="int" For="() => NewGroup.Capacity" />
						</div>
					</div>

					<!-- Tags -->
					<label for="tags">Tags</label>
					<!-- Selected Tags -->
					<div class="mb-1">
						@foreach (var tag in SelectedTags)
						{
							<button type="button" class="btn btn-primary btn-sm me-1 mt-1"
							@onclick="() => DeleteSelectedTag(tag)">
								@tag
								<span class="badge bg-danger">
									<span class="oi oi-trash"></span>
								</span>
							</button>
						}
					</div>
					<!-- Dropdown Tags -->
					<div class="dropdown" id="tags">
						<div class="btn-group w-50">
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
								data-bs-toggle="dropdown" aria-expanded="false">
								Add tags
							</button>
							<ul class="dropdown-menu">
								<li>
									<ul class="scrollable-dropdown-items list-unstyled">
										@foreach (var tag in Tags)
										{
											<li>
												<button class="dropdown-item" type="button"
												@onclick="() => AddSelectedTag(tag)">@tag</button>
											</li>
										}
									</ul>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li>
									<a class="dropdown-item">
										<div class="input-group mb-1">
											<button class="btn btn-outline-secondary" type="button"
												disabled="@NewTagNotValid" onclick="@(() => AddNewTag(NewTag!))">
												<span class="oi oi-plus me-1 align-middle" aria-hidden="true"></span>
											</button>
											<InputText class="form-control" id="name" @bind-Value="NewTag"
												maxlength="10" autofocus="" />
										</div>
									</a>
								</li>
								</li>
							</ul>
						</div>
					</div>
					<div>
						<ValidationMessage TValue="ICollection<string>" For="() => NewGroup.Tags" />
					</div>
					<small id="tagsHelperBlock" class="form-text text-muted">
						Tags make it easier for others to find your group
					</small>

					<div class="modal-footer">
						<button type="submit" class="my-btn-primary">Create</button>
						<button type="button" class="my-btn-secondary" @onclick="ModalCancel">Cancel</button>
					</div>

				</EditForm>
			</div>
		</div>
	</div>
</div>



@code {
	[Parameter]
	public User User { get; set; } = null!;

	[Parameter]
	public EventCallback<bool> OnClose { get; set; }

	public NewGroupRequest NewGroup { get; set; } = new();
	public List<string> Tags { get; set; } = new();
	public List<string> SelectedTags { get; set; } = new();
	public string? NewTag { get; set; }

	public bool TagsLoaded { get; set; }
	public bool NewTagNotValid => string.IsNullOrWhiteSpace(NewTag);

	protected override async Task OnInitializedAsync()
	{
		Tags = await TagApi.AllAsync();

		NewGroup.Owner = User;
		NewGroup.Capacity = 2;
		NewGroup.Tags = SelectedTags;
		NewGroup.Members = new List<User> { User };
	}

	private async Task CreateGroup()
	{
		Console.WriteLine("Group submitted");
		try
		{

			await GroupApi.CreateGroup(NewGroup);
			await OnClose.InvokeAsync(true);
		}
		catch (OperationCanceledException) { }
		catch (Exception ex)
		{
			Console.WriteLine($"Something went wrong while saving! Error: {ex}");
		}
	}

	private Task ModalCancel()
	{
		return OnClose.InvokeAsync(false);
	}

	private void AddSelectedTag(string tag)
	{
		Tags.Remove(tag);
		SelectedTags.Add(tag);
	}

	private void AddNewTag(string tag)
	{
		var tagToAdd = tag.Trim().ToUpper();
		if (!SelectedTags.Contains(tagToAdd))
		{
			AddSelectedTag(tagToAdd);
		}
	}

	private void DeleteSelectedTag(string tag)
	{
		SelectedTags.Remove(tag);
		Tags.Add(tag);
	}
}