.form-container {
    float: left;
    margin-top: 2em;
    width: min(600px, 100%);
}

.inner-form-container {
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 5px;
    border-radius: 2em;
    padding: 1.5em;
    width: stretch;
}

.margin-div {
    margin: 0px;
    float: left;
    width: 1.5em;
    height: 1px;
}

.scrollable-dropdown-items {
	height: auto;
	max-height: 280px;
	overflow-x: hidden;
}