@using Shared.Services
@using Shared.Models
@using StudyMate.Client.Group.Services
@inject AppShell.AppState State
@inject NavigationManager NavigationManager
@inject IImageService ImageService
@inject IGroupApi Api
@inject GroupClient Rtc

<div class="groups">
	@if (Groups != null)
	{
		@if (!Groups.Any())
		{
			<h5>No open groups so far...</h5>
		}
		<div class="mt-1 mb-4 row w-100" style="margin-left: 0">
			<button type="button" class="btn my-btn-primary p-1 col-8" disabled="@(State.CurrentUser is null)"
			        @onclick="OpenCreateModal">
				<span class="oi oi-plus me-1" aria-hidden="true"></span>
				@if (State.CurrentUser is null)
				{
					<span>Log in to create a new group</span>
				}
				else
				{
					<span>Create a new group</span>
				}
			</button>
			<button class="btn col-4 p-1 my-btn-secondary" disabled="@(!ShowUpdateButton)" @onclick="UpdateGroups">
				Update groups
			</button>
		</div>


		@foreach (var group in Groups)
		{
			<div class="card w-100 mb-2 p-2">
				<div class="card-body group">
					<div class="row justify-content-between">

						<div class="col-auto">
							<span class="card-title h5 float-start">@group.Name (@group.Members.Count() /
								@group.Capacity)</span>
						</div>

						<div class="col">
							@foreach (var user in group.Members)
							{
								<img src="@(ImagePath(user.ProfilePicture))" class="rounded-circle img-responsive float-end me-1"
						style="width: 30px; height: 30px" alt="userimage of @user.Username" ata-bs-toggle="tooltip"
						data-bs-placement="bottom" title="@user.Username">
							}

						</div>

					</div>

					@foreach (var tag in group.Tags)
					{
						<span class="badge badge-primary bg-primary me-1">@tag</span>
					}
					@if (!UserIsMember(group))
					{
						<div>
							<button type="button" class="btn my-btn-primary float-end mt-2" @onclick="@(() => JoinGroup(group))"
					disabled="@(State.CurrentUser is null)">Join
								group</button>
						</div>
					}
				</div>
			</div>
		}
	}
</div>

@if (ShowCreateModal)
{
	<CreateModal User=@State.CurrentUser OnClose="@OnCreateClose" />
}

@code {
	List<Group> Groups { get; set; } = new();
	List<Group> NewGroups { get; set; } = new();
	public bool ShowCreateModal { get; set; }
	private bool ShowUpdateButton { get; set; }

	protected override async Task OnInitializedAsync()
	{
		Groups = await Api.GetOpenGroups();
		await State.InitTask;
		State.LoginChanged += StateHasChanged;
		Rtc.GroupCreated += RtcOnGroupCreated;
		Rtc.GroupChanged += RtcOnGroupChanged;
		await base.OnInitializedAsync();
	}

	private void RtcOnGroupCreated(Group group)
	{
		ShowUpdateButton = true;
		NewGroups.Insert(0, group);
		StateHasChanged();
	}

	private void RtcOnGroupChanged(Group group)
	{
		var changedGroup = Groups!.FirstOrDefault(g => g.Id == group.Id);
		if (changedGroup is not null)
		{
			var index = Groups.IndexOf(changedGroup);
			Groups[index] = group;
			StateHasChanged();
		}
	}

	private void UpdateGroups()
	{
		ShowUpdateButton = false;
		Groups = NewGroups.Concat(Groups ?? new List<Group>()).ToList();
		NewGroups.Clear();
		StateHasChanged();
	}


	private async Task JoinGroup(Group group)
	{
		try
		{
			await Rtc.JoinGroup(group.Id);
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Something went wrong while joining! Error: {ex}");
		}
	}

	private void OpenCreateModal()
	{
		ShowCreateModal = true;
		StateHasChanged();
	}

	private void OnCreateClose(bool created)
	{
		ShowCreateModal = false;
		UpdateGroups();
	}

	private async Task RefreshGroups()
	{
		Groups = await Api.GetOpenGroups();
	}

	private string ImagePath(byte[] imageData)
	{
		return ImageService.ImageSourcePath(imageData);
	}

	private bool UserIsMember(Group group)
	{
		return group.Members.Select(m => m.Username).FirstOrDefault(n => n.Equals(State.CurrentUser?.Username)) is not null;
	}
}