.page {
	position: relative;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	background-color: #F6F7F2;
	color: #444
}

.sidebar {
	background-color: #383838;
}

.user-menu {
	background-color: #fffffc;
	padding: 1rem;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	border-bottom: 1.5px solid rgba(0,0,0,0.1);
	border-left: 1.5px solid rgba(0,0,0,0.1);
	border-right: 1.5px solid rgba(0,0,0,0.1);
	transform: translateY(-0.75px);
}

	.user-menu ::deep button {
		border: none;
		box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
		border-radius: 5px;
		background-color: #fbfbfb;
		color: #666;
		width: 100%;
		margin: 4px 0px 4px 0px;
	}

.top-row {
	background-color: #fffffc;
	color: black;
	border-bottom: 1.5px solid rgba(0,0,0,0.1);
	justify-content: flex-end;
	height: 4rem;
	display: flex;
	align-items: center;
}

	.top-row ::deep a, .top-row ::deep .btn-link {
		white-space: nowrap;
		margin-left: 1.5rem;
		text-decoration: none;
	}

		.top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
			text-decoration: underline;
		}

		.top-row ::deep a:first-child {
			overflow: hidden;
			text-overflow: ellipsis;
		}

@media (max-width: 640.98px) {
	.top-row:not(.auth) {
		display: none;
	}

	.top-row.auth {
		justify-content: space-between;
	}

	.top-row ::deep a, .top-row ::deep .btn-link {
		margin-left: 0;
	}
}

@media (min-width: 641px) {
	.page {
		flex-direction: row;
	}

	.sidebar {
		width: 250px;
		height: 100vh;
		position: sticky;
		top: 0;
	}

	.top-row {
		position: sticky;
		top: 0;
		z-index: 1;
	}

		.top-row.auth ::deep a:first-child {
			flex: 1;
			text-align: right;
			width: 0;
		}

	.top-row, article {
		padding-left: 2rem !important;
		padding-right: 1.5rem !important;
	}
}
