@using StudyMate.Shared.Services
@using StudyMate.Client.Chat.Components
@using Microsoft.JSInterop
@inherits LayoutComponentBase
@inject AppState State
@inject NavigationManager Nav
@inject IImageService ImageService
@inject IJSRuntime JsRuntime

<div class="page">
	<div class="sidebar">
		<NavMenu />
		<div class="p-3">
			<GlobalAdHocChat />
		</div>
	</div>

	<main>
		<div class="top-row px-4 align-content-end">
			@if (updateReady)
			{
				<p class="text-info mb-0">
					There is an update available, refresh to reload.
				</p>
			}
			@if (State.CurrentUser is null)
			{
				<button class="my-btn-primary" @onclick="GoToLogin">Login</button>
			}
			else
			{
				<details style="width: 10rem; height: 4rem">
					<summary class="h-100 user-select-none"
					         style="color: lightgray; margin-left: 2rem; margin-right: 1rem; transform: scaleX(-1)">

						<img src="@ImageService.ImageSourcePath(State.CurrentUser.ProfilePicture)" class="rounded-circle"
						     style="height: 100%; padding: 0.5rem; transform: scaleX(-1)"/>

					</summary>
					<div class="user-menu">
						<button @onclick="GoToProfile">My Profile</button>
						<StudyMate.Client.User.Components.LogoutButton/>
					</div>
				</details>
			}
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code {
	private bool updateReady;

	protected override async Task OnInitializedAsync()
	{
		State.LoginChanged += StateHasChanged;
		await JsRuntime
			.InvokeAsync<object>(
				"blazorFuncs.registerClient", 
				DotNetObjectReference.Create(this)
			);
	}

	[JSInvokable("onupdateavailable")]
	public async Task<string> AppUpdate()
	{
		Console.WriteLine("New version available");
		updateReady = true;
		StateHasChanged();
		return await Task.FromResult("Alerted client");
	}

	private void GoToLogin()
	{
		Nav.NavigateTo("/login");
	}

	private void GoToProfile()
	{
		Nav.NavigateTo("/profile");
	}
}