@inject AppState State

<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand pb-0" href="">
			<img src="logo_no_bg.svg" style="width: 2em; height: 2em" />StudyMate
		</a>

		<label class="build-stamp" style="
transform: translate(0,-30%);
font-size: 0.8em;
color: rgba(0, 0, 0, 0.3);
">Built @State.BuildVersion</label>

		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>

	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		@if (State.CurrentUser is null)
		{
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="login">
					<span class="oi oi-account-login" aria-hidden="true"></span> Login
				</NavLink>
			</div>
		}
		else
		{
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="profile">
					<span class="oi oi-person" aria-hidden="true"></span> Profile
				</NavLink>
			</div>
		}
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	protected override void OnInitialized()
	{
		State.LoginChanged += StateHasChanged;
		base.OnInitialized();
	}

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
