.navbar-toggler {
    background-color: rgba(65, 65, 65, 0.884);
}

.top-row {
    border-bottom: 1.5px solid rgba(0,0,0,0.1);
    height: 4rem;
    background-image: linear-gradient(90deg, #F6F7F2 0%, #fffffc 100%);
}

@font-face {
	font-family: Nunito;
	src: url('Nunito.ttf');
}

.navbar-brand {
    font-size: 1.2rem;
    font-family: 'Nunito';
	font-weight: 500;
    color: #444;

    display: flex;
    justify-content: center;
    align-items: center;
}

    .navbar-brand:hover {
        color: #333;
    }

    .navbar-brand:focus {
        color: #333;
    }

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

@media (max-width: 641px) {
    .build-stamp {
        display: none;
    }
}